[2013-08-30 19:26] codeanticode opened #1 "Syphon for Processing does not receive frames with alpha"
What steps will reproduce the problem?
1. Launch Simple Server
2. Launch examples included with Syphon for Processing 2.0a8
3. No alpha.

What is the expected output? What do you see instead?
Alpha! No alpha.

Ping Memo about this, he alerted me to the issue.

[ported from issue report in googlecode: https://code.google.com/p/syphon-implementations/issues/detail?id=22]

[2013-08-30 19:28] codeanticode opened #2 "Processing client only matches app name, not server name"
Hello, I haven't had time to work on it lately, but in the last round of changes the constructor of SyphonClient allows you to specify different servers within the same app. Take a look at the comments in the ReceiveFrames example:

"A Syphon server can be specified by the name of the application that it contains it, its name, or both:

1) Only application name.
client = new SyphonClient(this, "Se

[2013-08-30 19:31] codeanticode opened #3 "Send screen frame in Processing Syphon"
Right now, the frames sent out from Processing when using the SyphonServer object need to be drawn to an offscreen PGraphics buffer. It would be neat to just be able to do:

[code]

This requires the server object getting the internal back buffer that the renderer uses to draw the main screen to. It is certainly possible, since this is what the filter(PShader) method does under the scenes.

[porte

[2013-08-30 19:38] codeanticode opened #4 "Memory leak in SyphonServer"
Sketches that use SyphonServer give the following error:

__NSAutoreleaseNoPool(): Object 0x125625370 of class NSCFDictionary autoreleased with no pool in place - just leaking

when closing. Maybe is an error in the native implementation of JSyphonServer (in the https://github.com/Syphon/Java project).

[2013-09-02 01:04] #3 closed, assigned to codeanticode

[2013-09-02 04:54] #4 closed, assigned to codeanticode

[2013-09-02 19:40] #1 closed, assigned to codeanticode

[2013-09-02 19:48] #2 closed, assigned to codeanticode

[2013-11-27 08:46] knupel opened #5 "Camera()"
Hello all, I send a post on Processing Forum about weird thing with Syphon and the camera() with a big background. When I work without Syphon the result is perfect, but When I use the syphon the background is like crazy !
http://forum.processing.org/two/discussion/1562/syphon-and-camera#Item_1

[2013-12-12 23:37] computersarecool opened #6 "No alpha when trying to show entire frame contents"
What steps will reproduce the problem?
1. Launch Simple Server
2. Use server.sendImage(g)  to send entire contents of processing frame,
3. No alpha.

What is the expected output? What do you see instead?
Alpha! No alpha.

[code]

[2013-12-14 17:39] codeanticode opened #7 "Exported applications using either Syphon client or server don't work"
Tested on Processing 2.1, Mac OSX 10.9, with the default Send/Receive frame examples. The sketches work ok from the PDE, but the exported applications give the following error:

Exception in thread "Animation Thread" java.lang.RuntimeException: java.lang.UnsatisfiedLinkError: no JSyphon in java.library.path
    at com.jogamp.common.util.awt.AWTEDTExecutor.invoke(AWTEDTExecutor.java:58)
    at joga

[2014-04-29 13:02] clankill3r opened #8 "no jar file"
Please add a release or a folder with a jar file so we don't have to create a build or self.
For the rest awesome job, i downloaded the build from google code and it works awesome :) !!!

[2014-05-12 16:48] pablovitamin opened #9 "sendScreen()"
sendScreen() is not being founded.

[2014-05-27 14:57] clankill3r opened #10 "multiple servers in one sketch"
I need to send different images to a client from one sketch.
If i run this and check with Simple Client (the app delivered with Syphon) then only one is updating. The other 2 are frozen.

[code]

[2014-05-27 16:06] clankill3r opened #11 "new SyphonClient(this, "Simple Server");"
Sorry to spam :)

In the default examples this never worked for me in ReceiveFrames:

`client = new SyphonClient(this, "Simple Server");`

Also this makes it look like a line is missing after the 'both:'

[code]

sorry i didn't report earlier

[2014-06-05 16:08] #7 closed, assigned to codeanticode

[2014-06-05 16:09] #9 closed, assigned to codeanticode

[2014-06-05 19:35] #11 closed, assigned to codeanticode

[2014-06-05 19:55] #5 closed, assigned to codeanticode

[2014-06-06 20:27] codeanticode opened #12 "getImage() doesn't work"
getImage() simply returns a black image, see corresponding example. Tested on Processing 2.2.1, latest revision from repo.

[2014-06-06 21:35] #12 closed, assigned to codeanticode

[2014-06-07 11:47] #10 closed, assigned to codeanticode

[2014-06-07 16:40] #8 closed, assigned to codeanticode

[2014-06-07 16:43] #6 closed, assigned to codeanticode

[2014-06-07 17:12] codeanticode opened #13 "Final 2.0 release"
@vade and @bangnoise: I just uploaded 1.0-RC2 through the releases section on the GitHub repo, and marked the RC1 on the googlecode page as deprecated.

After a final round of testing/debugging, the next release should be 1.0 final. A few things:
- I'm getting a lot of debug messages from syphon after updating the submodules, i.e.:

2014-06-07 12:47:41.524 java[10617:d07] SYPHON DEBUG: SyphonServe

[2014-06-07 18:54] clankill3r opened #14 "debug log in console"
Maybe you did it on purpose but with release 1.0rc2 i get debug info.
I think you left a boolean to true :)
Not that i care, i'm just the messenger.

[code]

[2014-06-07 18:56] #14 closed, assigned to nobody

[2014-06-07 19:24] clankill3r opened #15 "java.lang.UnsupportedClassVersionError: jsyphon/JSyphonServer : Unsupported major.minor version 51.0"
I can't run the new version (RC2) in IntelliJ (and probably also not eclipse).
I think you went to a more recent JDK.

http://stackoverflow.com/questions/12770622/java-lang-unsupportedclassversionerror

If it's me that should update then please tell me.

[code]

[2014-06-10 15:18] #15 closed, assigned to codeanticode

[2014-06-11 12:02] clankill3r opened #16 "Retiring a server at code unload time because it was not properly stopped"
If i stop the sketch (int IntelliJ) i get stuff like this:

`2014-06-11 13:49:21.181 java[18352:8203] SYPHON DEBUG: SyphonServer: Retiring a server at code unload time because it was not properly stopped`

In processing it's fine.

I saw there is already a dispose method:

`This method is called automatically when the sketch is disposed, so making sure that the server is properly stopped and Sypho

[2014-06-11 14:44] clankill3r opened #17 "[suggestion] sketch to see all servers"
It might be good to have an example to receive all servers (a bit like the Simple Server.app).

It can be easy for quick testing etc.
The reason i made it is that processing allows me to do way more then Simple Server.app and sometimes i like to test small things.

Here is a bad example, but good as start.
[code]

[2014-06-16 20:15] clankill3r opened #18 "java.lang.UnsatisfiedLinkError: no JSyphon in java.library.path"
This counts for all RC's and i don't know if it's possible to fix coding wise.
Anyway, if someone get's this error (using eclipse or intelliJ):

`java.lang.UnsatisfiedLinkError: no JSyphon in java.library.path`

Then you have to add something like this in the VM options:

`-java.library.path=/Users/doekewartena/Dropbox/Public/Processing/libraries/Syphon/library`

I just drop this info here so you

[2015-05-07 23:57] twonb1tc4 commented on #18
I'm getting this error in the Processing IDE. Is there any way to fix this without using intellij?

[2015-06-11 11:50] bangnoise commented on #13
Bit late, but archive builds of Syphon.framework work for me with current Xcode

[2015-06-11 12:08] bangnoise opened #19 "SyphonClient.available() is misleadingly named"
should be called something like `newFrameAvailable()` to avoid confusion with the availability of the corresponding server.

[2015-06-11 12:09] bangnoise opened #20 "SyphonClient could report availability of a corresponding server"
SyphonClient could expose access to JSyphonClient's `isValid()` to report the existence of a corresponding server.

[2015-06-11 12:17] bangnoise opened #21 "SyphonClient shouldn't crash when new getImage() is called without an active client"
A client may have become inactive between calls to `available()` and `getImage()`. `getImage()` should return an empty image in that case.

[2015-06-11 12:35] bangnoise opened #22 "GetImage example is broken"
The example for GetImage illustrates nicely the problem with the current SyphonClient implementation

Add a call to `background(0)` at the start of `draw()` and watch the output flicker....

It should properly do something like this

    public void draw() {

Always `background(0)`

        background(0);

active() should be added to expose JSyphonClient's isValid

        if (client.active()) {

[2015-06-11 14:01] codeanticode commented on #13
No worries, I haven't been doing work with the Syphon library lately, but I tested it last week with the most recent alpha release of Processing 3.0 and it works :-)

I will try to get some time over the summer to package the final 1.0 release.

[2015-07-16 14:09] StanLepunK opened #23 "sendScreen() method doesn't work"
The code bellow work on Processing 3.0a5 but not on Processing 3.0a10. I know this code is not the official example, but it's very easy to use, so maybe there is something to do in Syphon Library ?
That be awesome :)

[code]

[2015-08-21 15:42] tracycollins opened #24 "Exported application with Syphon server doesn't work in Processing 3.0b3 on Mac OS X 10.10.5?"
The exported app crashes in the first or second time thru the draw(), I think.

import codeanticode.syphon.*;
PGraphics canvas;
SyphonServer server;

void settings() {
  size(640, 240, P2D);
}

void setup() {
  canvas = (PGraphics) createGraphics(640, 240, P2D);
  server = new SyphonServer(this, "Processing Syphon");
}

void draw() {
  canvas.beginDraw();
  canvas.background(frameCount%255);

  su

[2015-08-21 15:49] vade commented on #24
You need to ensure the Syphon framework is included in your apps Framework folder in the app bundle.

Can you post the crashlog?

[2015-08-21 17:32] tracycollins commented on #24
I'm a newbie, so I'm don't know where to check for the Framework folder. Where should it be?

I looked in syphonTest/application.macosx/syphonTest.app/Contents (syphonTest is the name of Processing app), but didn't find a Framework folder.

Thanks for the help!

[2015-08-21 17:36] tracycollins commented on #24
Also, using the Mac OS Console app, the only message I could find related to Syphon are:

8/21/15 12:41:02.856 PM java[3845]: SYPHON DEBUG: SyphonServerConnectionManager: Start Connection
8/21/15 12:41:02.857 PM java[3845]: SYPHON DEBUG: SyphonServerConnectionManager: Created connection with UUID: info.v002.Syphon.C58B9596-1A87-49DB-B161-7C3639155F88
8/21/15 12:41:04.724 PM java[3845]: SYPHON DEBU

[2015-08-21 17:38] vade commented on #24
Oh, well it looks like its properly linking to Syphon if your app is running calls to Syphon Server in the log. If your app crashes, you should get the pop up dialog that says "App X Crashed, send report to Apple", and there is a 'Details" disclosure triangle that unfolds to show the crash log.

Paste that here.

[2015-08-21 17:50] tracycollins commented on #24
Never see the "App X Crashed, send report to Apple" pop-up dialog.

So, I guess my app is crashing, but it definitely stops running. Not sure where/why it's hanging, but it's clearly not getting thru more than one pass of the draw() loop.

Also, looks like I was wrong about the SYPHON DEBUG messages above. They are NOT generated when trying to run the exported app, and are generated when running t

[2015-08-21 17:52] vade commented on #24
Then go to the folder you mentioned above, add a Frameworks folder, and move the Syphon.framework into there.

[2015-08-21 18:08] tracycollins commented on #24
Tried adding the Syphon.framework to a Framework (as well as a Frameworks) folder. Still the same problem.

[2015-08-21 18:15] vade commented on #24
I don't really use processing, check the v002.info forum and processing.org, I know folks have it working. Maybe 3.0 broke some stuff?

[2015-08-21 18:24] tracycollins commented on #24
OK. Thanks for your help!

[2015-08-21 19:26] vade commented on #24
Sorry I cant be more help with specifics!

[2015-08-21 20:10] hype commented on #24
@tracycollins @vade @codeanticode

open examples/SendScreen
in processing 2.2.1 using Syphon from the IDE and if you build an application - it runs fine

in processing 3.0b4 using Syphon from the IDE - it runs fine
if you build the application from 3.0b4 - it FAILS

--

if you "Show Package Contents" on SendScreen.app and navigate to /Contents/MacOS/SendScreen and run the app from there

here's wh

[2015-08-21 20:50] vade commented on #24
Seems like it isn't finding the Syphon library. Did Processing app export change paths locations?

[2015-08-21 20:54] vade commented on #24
Whats the Java path?

Caused by: java.lang.UnsatisfiedLinkError: no JSyphon in java.library.path

[2015-08-21 21:27] codeanticode commented on #24
hey guys, last time I tested the Syphon library with processing 3.0, was an earlier alpha and it worked well. Something in the library loading mechanism might have changed in the betas, need to take a look.

@vade java.library.path is the path (or list of paths) that Java uses to load native libs.

[2015-08-21 21:44] vade commented on #24
@codeanticode ehehe, I meant what is it and is JSyphon in that directory? It would be good to have a FAQ up somewhere on what needs to happen for exported Processing apps to work with Syphon.

Thanks everyone for the input!

[2015-08-21 22:02] tracycollins commented on #24
thanks, all. happy (sad?) to know that it's not something i'm doing wrong.

[2015-08-23 21:11] codeanticode commented on #24
Lots of changes happened in the 3.0 development process, many of which affect contributed libraries. So, this was expected to happen, and will try to fix it asap.

[2015-08-24 00:29] hype commented on #24
@codeanticode Andres... the updates to mesh/lighting smoothness + Syphon/mapping for live stage visuals... can't thank you enough for taking the time to get this sorted.

[2015-08-27 15:24] StanLepunK commented on #24
Just picture of the bug for souvenir !
![capture d ecran 2015-08-27 a 17 17 48](https://cloud.githubusercontent.com/assets/3332269/9524666/5eba3ade-4ce0-11e5-8b66-820650b73db3.png)
 :)

[2015-08-28 12:55] veriKami commented on #24
@StanLepunK ;-) as I watched my screen... betas are bastards !!!

[2015-09-01 02:34] codeanticode opened #25 "Programmable pipeline incompatible with Syphon"
@vade, @bangnoise: If Processing initializes the GL context using a programmable pipeline (GL2ES2, GL2GL3, or getGL4ES3), then frames sent from a server in Processing are rendered as black (tested with simple client and MadMapper 2.0.1). Also running both the server and client from Processing, with a programmable pipeline, results in no image displayed by the client.

Is this a bug in Processing o

[2015-09-01 03:01] codeanticode commented on #17
put your code in SelectServer example https://github.com/Syphon/Processing/commit/e882e5c02a3add54da6d9fa31b497a13b65a252c

A nice refinement could be to use controlP5 to populate a drop-down list with all servers. If you create a PR with this improvement, I will merge it for the next release :-)

[2015-09-01 07:50] clankill3r commented on #17
I have to many things on my list but I will keep it in mind. I might do it when I need it :)

[2015-09-01 13:06] vade commented on #25
This is a known issue, currently processing supports only OpenGL 1.2 / 2.x contexts. @bangnoise and I are sorting out solutions / Core Profile inclusion at some point in the future.

What is the timeline for Processing to work with a Core Profile context by default? Is this new for Processing 3.0 ?

Somehow most Syphon apps are still leveraging 1.2 / 2.x contexts, so we haven't had the proverbial

[2015-09-01 13:52] codeanticode commented on #25
Not sure if Core Profile context is used in the latest betas, but we switched to a programmable-pipeline already in beta 4, specifically [GL2ES2](https://jogamp.org/deployment/jogamp-next/javadoc/jogl/javadoc/com/jogamp/opengl/GL2ES2.html, see https://github.com/processing/processing/issues/3505.

This is the main reason why Syphon is not working in betas 4 and 5. In fact, you can choose what prof

[2015-09-01 13:56] vade commented on #25
Interesting.

Ok, that sort of lights a proverbial fire :)

Any idea when The release is scheduled, roughly?

Thanks again for all your hard work on Processing / Java and Syphon, its very appreciated!

[2015-09-01 14:05] codeanticode commented on #25
Beta 5 is already the last stable Processing release available [for download](https://processing.org/download/?processing) so anyone getting that version won't be able to use Syphon.

You could potentially use profile = 1 in beta 6, while Syphon updates to Core Profile. Once that happens, all you would need to do from Processing is to switch to a higher profile.

[2015-09-01 14:12] bangnoise commented on #25
There are a couple of third-party core profile Syphon implementations - if
you think it makes more sense, you could use one of them until we catch up.
That might be preferable - but wouldn't work with profile = 1. They're
linked in the relevant issue on the Syphon Framework - travelling atm, or
I'd link you directly.

When we support Core Profile we won't drop legacy support, so eventually
you wil

[2015-09-01 14:18] codeanticode commented on #25
cool, I will look at the options and decide what to do. This one:

https://github.com/eromanc/Syphon-Framework

seems the most recent fork. Any other one you recommend? However, I feel it would be easier to add support for profile = 1, and keep using the original Syphon.

[2015-09-01 15:39] codeanticode commented on #17
cool, thanks.

[2015-09-01 15:39] #17 closed

[2015-09-01 15:52] codeanticode commented on #24
Fixed in Processing core with https://github.com/processing/processing/commit/881366f59989b994f49e318c971e1132b214735c. 3.0b6 will incorporate the fix, and I will release a new package of the Syphon library to go along with it.

[2015-09-01 15:52] #24 closed

[2015-09-01 15:56] hype commented on #24
@codeanticode awesome... thank you fine sir.

[2015-09-01 16:04] StanLepunK commented on #24
Yeahhhh  thx @codeanticode

[2015-09-01 16:15] codeanticode commented on #13
bumped the version number to 2.0 for version of the library compatible with Processing 3.

The last release compatible with 2 stays at 1.0-RC3 :-)

[2015-09-01 16:48] StanLepunK commented on #13
When we download the last release, the file is Processing-Master. I change the name for Syphon but that's don't work !
Plus the link from Processing 3.0b5 library manager is broken.

[2015-09-01 16:51] tracycollins commented on #24
thanks!

[2015-09-01 16:59] codeanticode commented on #13
The new release is not yet ready, and haven't had time to update the download link. Please wait until beta6 is available.

Otherwise, you would need to compile the library yourself.

[2015-09-02 14:56] codeanticode commented on #25
Added profile = 1 to all examples, this solves the issue. Once Syphon adds support to Core Profile, switch from the library should only involve changing the profile value to 2 or higher.

[2015-09-02 14:56] #25 closed

[2015-09-12 15:33] StanLepunK commented on #25
With the PJOGL.profile = 1 the first picture is ok, but that's all. No animation. I'm on Processing 3.0b6 and the last Syphon, my computer is an iMac 2012 / OSX 10.9.5
![capture d ecran 2015-09-12 a 17 30 25](https://cloud.githubusercontent.com/assets/3332269/9832211/0dac09a6-5974-11e5-8689-52d857476598.png)

[2015-09-12 15:57] codeanticode commented on #25
The problem is that sendScreen() is not working, as reported [here](https://github.com/Syphon/Processing/issues/23). This issue was about the incompatibility with the programmable pipeline, which is addressed by using profile = 1.

[2015-09-12 16:03] StanLepunK commented on #25
ok, oops sorry. I post here because I see the new line about the profile = 1.

[2015-09-12 16:06] StanLepunK commented on #23
Before I used this solution, now it's broken, but maybe there is something to do around that
http://forum.processing.org/two/discussion/888/a-little-simplicity-with-syphon
[code]

[2015-09-13 10:08] #23 closed

[2015-09-13 10:20] codeanticode commented on #21
Although the 2.0-RC1 introduces a check to make sure that getImage() returns null when the server is no longer available, I still got a native crash after a while. This looks like it is a problem in JSyphon.

Crash log:

[code]

[2015-09-13 10:21] codeanticode commented on #19
2.0-RC1 renames available() to newFrame().

[2015-09-13 10:21] #19 closed

[2015-09-13 10:22] codeanticode commented on #20
Exposed as SyphonClient.active() in 2.0-R1

[2015-09-13 10:22] #20 closed

[2015-09-13 10:22] codeanticode commented on #22
Fixed in 2.0-RC1

[2015-09-13 10:22] #22 closed

[2015-10-09 00:59] Sensebellum opened #26 "Unable to Install Via Processing 3.0"
I am unable to install Syphon for inside of Processing 3.0. Is this bad? Do I need to do it manually?

<img width="873" alt="screen shot 2015-10-08 at 5 58 50 pm" src="https://cloud.githubusercontent.com/assets/7865492/10383621/5d174fd8-6de6-11e5-96f3-60e179632cfa.png">

[2015-12-02 08:15] cansik opened #27 "Invalid call of undeclared identifier 'texture2DRect'"
When I try to run this simple sketch with **Processing 3.0.1**, I always get this error message when trying to get the image. It doesn't matter if I use `getGraphics` or `getImage`.

#### Sketch
[code]

#### Error Message
[code]

Am I doing something wrong or is it a bug?

[2015-12-02 12:08] bangnoise commented on #27
Unfortunately there's no core-profile support yet, see #25

    void settings() {
        // ...
        PGJOL.profile = 1;
    }

[2015-12-02 12:09] bangnoise commented on #27
closing as dup #25

[2015-12-02 12:09] #27 closed

[2016-02-03 23:16] surmvoise commented on #23
I also experience an issue with server.sendScreen(). I only receive a glitched image of the OS UI
I run Processing 3.0.1 on a Mac with syphon library 2.0-RC2. Any fixes or workarounds?
<img width="484" alt="bildschirmfoto 2016-02-04 um 00 07 10" src="https://cloud.githubusercontent.com/assets/6092775/12800336/826187d6-cad4-11e5-9fc9-3dccb92d1204.png">

[2016-02-03 23:19] vade commented on #23
are you certain you are running processing in legacy OpenGL 21 renderer, and not 3.x/4.x core profile?

[2016-02-03 23:28] surmvoise commented on #23
I'm not shure about that. Those terms don't mean much to me... :/ sorry. Do you mean like this?
`public void setup() {
size(600, 600, OPENGL);
}
`
Or what else do I have to do to get this fixed?

[2016-02-04 08:33] StanLepunK commented on #23
I'm not sure for your problem, but if you use Processing 3.0.1 you must use the last Syphon librarie and check the example. Now you must implement syphon in void settings to change the renderings JOGL or something like that :)

[code]

[2016-02-04 09:20] surmvoise commented on #23
Thanks so much, @StanLepunK ! I somehow didn't realize that the void settings() is something different from void setup(). Now I it sends the image correctly.
But anyway, what is this code line for?
`PJOGL.profile=1;`

[2016-02-04 15:04] StanLepunK commented on #23
You're welcome.
This line I think is to change the profil of Processing rendering but not sure.

[2016-02-07 13:14] m3astwood opened #28 "endDraw() crashes server"
I have a sketch that I want to capture using the SyphonRecorder but I get this error : `OpenGL error 1282 at top endDraw(): invalid operation`

Here is what my console spits out :

[code]

[2016-02-07 19:51] bangnoise commented on #28
can you share the sketch, or the simplest reduction of it which reproduces the problem?

[2016-03-09 20:15] codeanticode commented on #26
This is strange, I can install the latest release of the library, 2.0-RC2, in Processing 3.0.2

[2016-03-09 20:16] codeanticode commented on #28
@m3astwood any updates?

[2016-03-09 20:20] m3astwood commented on #28
@codeanticode sorry I got moved on to other work and haven't returned to this project. Let me take another look and get back to you.

[2016-03-09 20:45] m3astwood commented on #28
@codeanticode - well, it seems to work fine now. I must have done something dim, or by some miracle the 3.0.2 update changed something. (more likely me though).

[2016-03-09 20:49] codeanticode commented on #28
Great, thanks for checking!

[2016-03-09 20:49] #28 closed

[2016-06-08 11:44] cansik opened #29 "Custom fragment shader flips image and stops syphon."
I've written a custom fragment shader which is used to draw a shape. Now the syphon library does not send the image over. Only the first frame is sent to the syphon output.

And the image is flipped by 180°.

I send the image with following method:

[code]

I tried it with various methods, but even with sending the `g` object it doesn't work. I think it is a problem with version 3.0 and higher.

H

[2016-06-09 09:31] cansik commented on #29
I found the problem: With processing 3, the pixel of the screen won't get updated from the opengl context. You have to do this manually by calling `loadPixels()`.

[code]

Now it works like a charm:
![image](https://cloud.githubusercontent.com/assets/5220162/15924932/1998797a-2e35-11e6-9229-979d3474debe.png)

[2016-06-09 14:28] vade commented on #29
LoadPixels is probably a slow path - likely doing

OpenGL Draw -> Readback to CPU -> Load Pixels to pImage -> Submit to Syphon (upload back to GPU).

If possible, capture the view port to a texture and submit that to Syphon. Ive lost touch with Processing - so I'm unsure if pImage can be backed as a pure texture, or if there is a pTexture type variable.

Either way, try to keep things on the GPU f

[2016-06-09 14:28] #29 closed

[2016-06-15 18:05] codeanticode commented on #26
@Sensebellum any updates on this? Are you able to install it on 3.1.1?

[2016-06-15 23:10] Sensebellum commented on #26
Hello, yes, I have been able to use it with the new version now thankfully. Thank you for following up and all the solid work!

[2016-06-16 02:20] codeanticode commented on #26
Thanks a lot for the update! I will close the issue then.

[2016-06-16 02:20] #26 closed

[2017-01-12 17:20] neilcsmith-net commented on #27
Just out of interest, the cause of this particular error is a bug in Processing processing/processing#4810  I'm sure that isn't the only issue with core-profile support :smile: Although I had read something that would suggest a client might work?

[2017-04-10 20:29] Edwardffigueroa commented on #15
I could not use syphon in my intellij, could anyone help me? I have this problem:
`objc[1344]: Class JavaLaunchHelper is implemented in both /Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk/Contents/Home/bin/java and /Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk/Contents/Home/jre/lib/libinstrument.dylib. One of the two will be used. Which one is undefined.
java.lang.ClassCastException: proc

[2017-04-10 20:35] Edwardffigueroa commented on #18
I can not use syphon in my intellij, could anyone help me? I have this problem:
`objc[1344]: Class JavaLaunchHelper is implemented in both /Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk/Contents/Home/bin/java and /Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk/Contents/Home/jre/lib/libinstrument.dylib. One of the two will be used. Which one is undefined.
java.lang.ClassCastException: proces

[2017-04-10 20:37] Edwardffigueroa opened #30 "[Syphon]: Class JavaLaunchHelper is implemented in both"
I can not use syphon in my intellij, could anyone help me? I have this problem:

objc[1344]: Class JavaLaunchHelper is implemented in both /Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk/Contents/Home/bin/java and /Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk/Contents/Home/jre/lib/libinstrument.dylib. One of the two will be used. Which one is undefined.
java.lang.ClassCastException: proces

[2017-04-10 20:44] vade commented on #15
Please don't spam every fucking issue with your problem.

[2017-04-10 20:45] vade commented on #18
@Edwardffigueroa -java.library.path=/Users/doekewartena/Dropbox/Public/Processing/libraries/Syphon/library

did you actually supply your own path correctly?

[2017-04-10 20:45] vade commented on #30
Holy shit dude please only post once.

-java.library.path=/Users/doekewartena/Dropbox/Public/Processing/libraries/Syphon/library

with your own path, no?

[2017-04-10 20:53] Edwardffigueroa commented on #18
@vade Yes, I used my address which is: `-Djava.library.path = / Users / edward / Documents / Processing / libraries / Syphon / library /` and I do not understand why it does not work for me :(

[2017-04-10 21:04] Edwardffigueroa commented on #18
sorry @vade for spam, did not know where to post and have reply :/

[2017-09-04 00:43] djkayip commented on #13
Thank you very much for your work!  I've been enjoying using it, and really appreciate it.
I've got a few questions about the library.
Seems like Syphon library is not working with Pixel flow by Thomas.
I think that's something to do with PJOGL.profile = 1.
Pixel flow works with other profile like 2 and 3, but doesn't work with 1.

could you let me know any clue to sort out this issue?

[2017-09-04 01:06] vade commented on #13
Please see https://github.com/Syphon/Syphon-Framework/issues/13 and core profile branch.

[2017-09-04 01:37] djkayip commented on #13
Thank you Vade! I'm a visual Artist who can do coding. So not quite familiar with this.
Could you be more specific about what to do with core profile branch?
just a little more clue.
the https://github.com/insidMWM/Syphon-OpenGL-3.2-core/

That would be great help,as my performance is looming.

[2017-09-04 02:33] vade commented on #13
Wait for someone to fix processing to use it :)

Sent from my iPhone

[2017-09-04 12:29] codeanticode commented on #13
Oh cool! I wasn't following Syphon updates very closely, but am very happy to know that GL 3 and 4 are finally supported. This is a good reason to make a new release of the Processing library. Thanks for the heads up.

[2017-09-07 15:51] codeanticode commented on #13
@vade I built a version of Syphon incorporating the changes and additions from the [OpenGL-3.2 core repository](https://github.com/insidMWM/Syphon-OpenGL-3.2-core/), and bundled it with the Syphon library.

I got this error when try to run the Processing sketch with profile 2+ and the renderer loads the default shaders:

[code]
 
I manage to see the first frame of Processing in the simple client,

[2017-09-07 16:10] vade commented on #13
Hey hey @codeanticode - This is great to see your interest! I know we've been slow to adopt GL 3/4 - no ones fault but ours (and the bills we have to pay too haha).

GL 3 / 4 branch is not quite final - it needs some eyes and testing but in theory its working. I imagine we have some gaps. Not to ask you to take on some additional work, but your eyes over the code and perhaps some thoughts on "do's

[2017-09-07 16:14] codeanticode commented on #13
When you talk about the GL 3/4 branch, are you referring to https://github.com/Syphon/Syphon-Framework/tree/core-profile? Should I be using that instead of the [OpenGL-3.2 core repo](https://github.com/insidMWM/Syphon-OpenGL-3.2-core/)?

[2017-09-07 16:51] vade commented on #13
Correct! Our official branch. That other branch isn't ours, and theres some nagging bugs the recent Syphon Framework master and our GL branch take like shared context for resource management/disposal, slightly refactored API for clients etc.

[2017-09-09 03:58] codeanticode commented on #13
ok, using the core-profile branch, I get the Processing library to work with any GL profile. But only for sending frames, when trying to use the client, I get this error:

[code]
(full log attached)
[hs_err_pid52598.log.zip](https://github.com/Syphon/Processing/files/1289522/hs_err_pid52598.log.zip)

[2017-09-09 16:25] vade commented on #13
Thanks so much for looking into this @codeanticode  - great that sensing is working! Interesting. What OS Revision are you running on out of curiosity?

[2017-09-09 16:45] codeanticode commented on #13
El Capitan, 10.11.6

[2017-09-09 16:58] vade commented on #13
AH, sorry I was barking up the wrong tree - Im refreshing my memory on the JNI aspect of this, and I believe whats happening is a NULL context is being sent to the client creation - we changed the API in the core profile branch and the JSyphon code needs some love to reflect those updates.

I think all that needs to happen is a context needs to be passed during client creation, not during frame ve

[2017-09-09 16:59] vade commented on #13
Looking at the JNI / JSyphon code the calls to for vending images def need to be tweaked as well as the client creation too:

https://github.com/Syphon/Java/blob/master/JSyphon/native_src/jsyphon_JSyphonClient.m#L131

I'm happy to take a peek at this but it won't be for a day or two. Thank you again very much for looking into this @codeanticode - its very appreciated!

[2017-09-09 17:06] codeanticode commented on #13
ok, thanks for the comments on the API changes. I should be able to give it a try, and will report back!

[2017-09-09 17:29] vade commented on #13
No worries - thanks again for looking into it. You've been a huge help with Syphon!

[2017-09-10 14:37] codeanticode commented on #13
Ok, the changes in the JSyphon client make the trick. I added a new download package, which should be available through the Contribs manager in the PDE shortly.

[2017-09-10 14:41] codeanticode opened #31 "Multiple clients example hangs and crashes"
Running the MultipleServers/Clients example pair has some issue in RC3. The server example runs fine, each individual server can be read a syphon client, but trying to read all servers at one from Processing hangs the sketch with this error in the console:

[code]

[2017-09-10 16:04] vade commented on #13
@codeanticode Thank you so so much for taking the time to put that together. The can only imagine the community will be grateful! Much appreciated!

[2017-09-10 16:12] #30 closed

[2017-09-10 16:12] vade commented on #21
I'm curious if the recent JNI changes / updates to the core profile path render this moot?

[2017-09-11 15:36] codeanticode commented on #21
Didn't test, will take a look when I get the chance.

[2017-09-11 15:37] codeanticode commented on #13
You are welcome. Once a few minor issues are figured out (#16, #21, #31, https://github.com/Syphon/Java/issues/4), I could push the final 2.0 release (which has been years in the making :-) )

[2017-09-11 15:53] vade commented on #13
Woo! All the emoji comments! :)

[2017-09-15 10:17] bangnoise commented on #31
This was caused by Syphon/Syphon-Framework@317cfa182e61cfec63da85857f9b8e82bfbb4a2d which changed the object associated with Syphon's NSNotifications. Fix incoming.

[2017-09-15 12:03] #31 closed

[2017-09-19 16:41] codeanticode commented on #21
Yup, appears to be fixed.

[2017-09-19 16:41] #21 closed

[2017-09-19 16:52] codeanticode commented on #13
After 3 years in the making: https://github.com/Syphon/Processing/releases/tag/2.0 !!

[2017-09-19 16:52] #13 closed

[2017-09-19 16:53] codeanticode commented on #18
@clankill3r could you check if this happens with the [final 2.0 release](https://github.com/Syphon/Processing/releases/tag/2.0)?

[2017-09-19 16:53] codeanticode commented on #16
@clankill3r could you check if this happens with the [final 2.0 release](https://github.com/Syphon/Processing/releases/tag/2.0)?

[2017-09-19 18:45] vade commented on #13
Fuck yea!!!!!

[2017-09-22 04:07] Tenkir opened #32 "Mask does not appear in syphon feed."
I have an alpha mask that I'm using on the canvas. It works fine in the processing image, but when viewing the syphon feed, I only see the base layer. The mask and anything after are not rendered.

[code]

[2017-09-22 07:56] vade commented on #32
Ensure both apps agree on premultiplied vs unpremultiplied alpha. No idea what Processing's mask option does but my guess is your alpha is not premultiplied in Processing.

[2017-09-22 08:00] vade commented on #32
Ensure your target app and destination app both use premultiplied or unpremulitplied alpha. Syphon doesn't care what you use but you do have to agree.

Sent from my iPhone

[2017-10-25 14:03] GSAixd commented on #27
FWIW - my students were perplexed by why the suggested line above by bangnoise is wrong. There is a typo, and it should read:
[code]
Hope this helps others.

[2017-10-25 14:07] bangnoise commented on #27
Core Profile support is here now - that line is no longer required. Update/install the Syphon library from the within Processing using the Contribution Manager (Sketch > Import Library... > Add Library...).

[2017-10-25 14:50] bangnoise commented on #32
I thought this sounded like it might be a real issue, but I can't get canvas.mask() to have any effect within Processing. If you can attach a minimal sketch folder with images to demonstrate the problem, I'll take a look.

[2017-10-25 20:14] GSAixd commented on #27
Ah ok. Great - thanks.

[2018-02-03 19:41] cansik opened #34 "JSyphon server lazy initialised leads to unexpected behaviour"
As mentioned in the PR #33, following code should be considered as valid usage of the API (nothing prevents me as developer of doing it):

[code]

But this is not working, because the JSyphon sever is lazy initialised in the `sendImage` method. With the PR applied, syphon will never be initialised, because the server will never be initialised because `sendImage` will never be called.

Why is the s

[2018-02-03 20:17] cansik commented on #34
Just to make clear that the above code makes sense, I have performed some profiling on a processing sketch with syphon:

Check if `hasClients` before send, without clients attached:
![image](https://user-images.githubusercontent.com/5220162/35771023-8f9cdb98-0926-11e8-942a-376e8d6f9b7b.png)

Check if `hasClients` before send, with clients attached:
![image](https://user-images.githubusercontent.co

[2018-04-03 09:46] K3TH3R commented on #18
@codeanticode Adding the `-Djava.library.path=` worked, although I'm using a lot of other Processing libraries naturally in Intellij without needing to do this. Also, it seems you need to be very careful about the path when you put it in there, a space between the `-D` and `java.library.path` would fail.

[2018-09-06 17:01] alexdmiller commented on #25
I realize this issue is old & closed, but I have a question: if I'm understanding this correctly, does this mean we can't use shaders and Syphon in the same Processing sketch? Switching to profile = 1 seems to break my GLSL code.

[2018-09-06 17:05] vade commented on #25
Can you file a separate issue that actually details behaviour you expect and behavior you see along with details or your setup, versions, install, etc?

[2018-09-06 17:36] alexdmiller commented on #25
Thanks @vade.

I figured out the problem: switching profiles meant that the GLSL code was compiled with a different version (version 110). I had `texture` calls that I had to switch to `texture2D` in order to compile under version 110.

I'm happy to file another issue if you think it's necessary, although it's not really a problem with this project. It might be helpful to include a note about GLSL

[2019-03-30 15:28] valioDOTch commented on #18
This error appears as well when I use the processing IDE.
I'm actually not interested in using another IDE just to circumvent that bug...

[2019-12-21 11:55] panteleimwn opened #36 "slitscan, screen share and syphon"
Hi
i am new to this and very confused
i am trying to share a slit scan processing code to another software through SYPHON
can you help?

this is the SLITSCAN

[code]

[2019-12-29 06:38] TomPeak opened #37 "Syphon on Calalina"
… only works properly when the sketch is run as a 32-bit application

[2019-12-29 16:30] bangnoise commented on #37
Hi - an update is pending with Processing's internal library manager, in the meantime you can get `Syphon.zip` directly from https://github.com/Syphon/Processing/releases/latest and install to your Processing3/libraries folder.

[2019-12-30 16:57] bangnoise commented on #37
Fixed in version 3, now available within Processing.

[2019-12-30 16:57] #37 closed

[2019-12-30 17:02] bangnoise commented on #34
fixed in b3f78c5dba30c53f5fb36aa391458ccc79fa5793

[2019-12-30 17:02] #34 closed

[2019-12-31 15:12] TomPeak commented on #37
Perfect, thx a lot!

[2020-08-14 23:08] vitos1k commented on #18
i'm getting this error despite the path to the library is in java.library.path
i've tested using this: println(System.getProperty("java.library.path"));
And sketch even runs and prints the path. and then error occurs and sketch hangs forever
I'm running basic RecieveFrames example

[2020-08-14 23:09] vitos1k commented on #18
I'm using Processing IDE 3.5.4
Latest Syphon3 library from processing Library manager

[2020-08-15 10:55] vitos1k commented on #18
Forgot to mention that i'm on windows. With Fresh processing and syphon it still doesn't work :\
`Available Syphon servers:
Syphon 3.0 by Andres Colubri http://andrescolubri.net/
java.lang.UnsatisfiedLinkError: no JSyphon in java.library.path
	at processing.opengl.PSurfaceJOGL$2.run(PSurfaceJOGL.java:408)
	at java.lang.Thread.run(Thread.java:748)
UnsatisfiedLinkError: no JSyphon in java.library.pa

[2020-08-15 11:25] bangnoise commented on #18
@vitos1k Syphon is Mac-only

[2021-01-28 03:48] rpickering opened #38 "getImage() to support pixelDensity(2)"
I'm wondering if some additions to this library would be needed to support higher pixel densities.

In Processing 3 we are able to set `pixelDensity(2);`  (or detect the current display's density using `pixelDensity(displayDensity())`). This results in a sharper GUI on high-resolution displays.

However when using the example `img = client.getImage(img);`, results in this error:

`Trying to copy t

[2021-01-28 04:03] vade commented on #38
Im assuming the issue is around here:

https://github.com/Syphon/Processing/blob/master/src/codeanticode/syphon/SyphonClient.java#L289

Is there a call to request the pixel density of an image? Forgive me, I havent toyed with Processing in quite some time.

Is the expectation now that Processing works in some display 'units' that are invariant to screen density and not 'pixels' ?

Does the Syphon

[2021-01-28 04:07] vade commented on #38
Maybe a better / different question - do individual graphics contexts hold their own pixel densities or is it global to a sketch?

Ie - does a syphon client in one context need to respect its host pixel density?

Question for how processing handles this:

If an incoming surface from another client app in Syphon native (say, Resolume) is describing just pixels, should it inherit the pixel density o

[2021-01-28 15:33] rpickering commented on #38
I've been trying to understand it too.

This hopefully shines some light on how it works, similar to how CSS deals with pixel density (the width and height measurements don't change. But a 1px measurement now translates to 2px). Note the new pixelWidth/pixelHeight variables in Processing which represent _actual pixels_ and could be used in place of width/height.

[code]

I'm wondering if there's s

[2021-01-28 16:59] rpickering commented on #38
In reply to your question _do individual graphics contexts hold their own pixel densities or is it global to a sketch?_ - the idea in Processing I think is that you set the pixel density **once** in setup() and it becomes global for everything in the sketch. So anything inside that sketch will need to respect that.

I'm just not quite sure how best to deal with it, possibly just to always use the

[2021-01-28 17:10] vade commented on #38
I think the latter - pixelWidth and pixelHeight makes the most sense to me, as not many tools in 'raster space' make considerations for pixel density outside of the display layer side of things (meaning, your texture is always 2048 pixels and theres no other way to measure it - but  its up to you how you draw that on the output windowing side)

Syphon doesnt really care (and nor do I think it shou

[2021-01-28 17:27] rpickering commented on #38
Yeah I'd agree, because you can always do `img.resize(width, height)` to half or double it on your canvas if it makes sense to do so.

I'm not really experienced in how libraries in processing work... but maybe simply doing this (in SyphonClient.java) would work as a fix...?

[code]

[2021-01-28 17:33] rpickering commented on #38
I've just confirmed pixelDensity comes back as '1' if it isn't explicitly set.

[code]
[code]

[2021-01-29 03:39] rpickering commented on #38
After a bit of experimentation with this I've realised the real problem is that PGraphics and PImage work differently (in other words, PImage doesn't care about pixel density, but PGraphics does), and that causes a conflict in the getImage() function as it uses both types.

I've put in a fix that I think is the simplest one under the circumstances and have tested it working, please see pull reques

[2021-06-25 09:36] zephirl commented on #24
For anyone still having a similar problem on newer versions of Mac OS, I recommend this thread which solved my problem:
https://github.com/processing/processing/issues/5676#issuecomment-600431170

(Exported applications crash with Syphon because of a problem with P3D and jogl required for Syphon)

[2021-09-04 14:11] nimitch opened #40 "OSX Big Sur wont allow usage of libJSyphon.jnilib"
when launching a sketch that includes the release version3 (29 Dec 2019) of syphon/processing on Big Sur
the syphon library fails to load

processing - console log output snippet
not valid for use in process using library validation: library load disallowed by system policy

in mac/system prefernces/security and privacy I can accept the code from unknown developer

this time upon starting the sket

[2022-01-28 22:32] CaseyJScalf opened #41 "Possible issue using filter() inside of PGraphics for Syphon in Processing?"
MacBook Pro Retina Mid-2015
OSX 11.5.1
Processing 3.5.4

I am using the Syphon Processing library and I have found a possible issue when it comes to using the filter() function inside of the PGraphics canvas for sending out frames via a Syphon Server.

I have noted that the filters used, BLUR & INVERT, do appear correctly in the Processing window however they do not appear to be sent out correctly

[2022-02-06 03:52] samyk commented on #40
Thanks, the final command (after accepting security privileges) worked for me on macOS Monterey 12.1 on M1 chip

[2022-03-12 16:44] codeanticode opened #42 "Create new notarized release"
Right now, users have to manually set the library attributes so that the library can load (#40).

[2022-03-12 16:47] codeanticode opened #43 "Use statig tag URL for releases to show up in CM"
Right now there is no static URL that the Contributions Manager can consistently use to pull the release info.

[2022-03-12 16:51] #16 closed

[2022-03-12 16:51] #18 closed

[2022-03-12 23:22] codeanticode commented on #32
Revising very old issues, just for fun :-)

In this case, what's happening is that the texture that's backing the rendering surface (either onscreen or offscreen) is not updated with the output from the filter (mask() in P2D/P3D internally calls filter()), for some reason (it should, so opened a bug about this in the main processing4 repo: https://github.com/processing/processing4/issues/449).

Bu

[2022-03-12 23:29] codeanticode commented on #36
The code was missing the Syphon server initialization and frame sending, should be something like this:

[code]

[2022-03-12 23:29] #36 closed

[2022-03-12 23:31] codeanticode commented on #41
It's actually the same as #32, since mask() just calls filter(). I think it's an upstream bug in the OpenGL renderer in Processing.

[2022-03-12 23:33] codeanticode commented on #40
This should be solve once a signed & notarized release of the library is ready (#42). For the time being, manually setting the library attributes as pointed out by @nimitch is a valid workaround.

[2022-03-13 02:36] #38 closed

[2022-03-13 02:56] codeanticode commented on #40
This release is signed and notarized so it should not require setting attribs manually:

https://github.com/Syphon/Processing/releases/tag/latest

[2022-03-13 02:56] #43 closed

[2022-03-13 02:57] #42 closed

[2022-03-13 02:57] #40 closed

[2022-03-13 22:29] CaseyJNova commented on #41
Nice work I appreciate the follow up. I took a look at #32 and found that to be a helpful description of the problem with the ordering of the "server.sendImage(canvas);" in the beginning being rather helpful.

I did notice that if I put it at the very start the Syphon output was good but the Processing window would be null. So I put it just after beginDraw()

The code below works great now and is

[2022-04-29 11:58] pyronox opened #44 "Issues Compiling Example Sketches on M1 Mac in Processing 4"
I am attempting to use Syphon with the Processing IDE.

I have installed Processing 4 on a fresh Apple M1 running macOS Monterey.
I have installed the Syphon Library using the in built in Library Manager of the Processing IDE.

The Example sketches included in the library fails to compile (I have tried both getImage and ReceiveFrames)

`Syphon 4.0 by Andres Colubri, Tom Butterworth, Anton Marini h

[2022-04-29 12:46] pyronox commented on #44
To add a little more information:

My initial tests with with Processing 4.0 (Apple Silicon).

I have just downloaded version 3.5.3 of processing.
When attempting to load the same example sketches, everything works fine. (After adding frameRate(30) in the setup).

I then downloaded version 4 of processing (Intel 64 bit).
When attempting to load the same example sketches, everything works fine.

So

[2022-06-24 08:01] 1l0 commented on #44
Same to me on Apple Silicon.

[2022-07-23 01:43] codeanticode commented on #44
@pyronox @1l0 thanks for filing this issue. I can confirm that the Syphon library does not work on macs with the new Apple Silicon chips, because it only includes the Syphon native libraries for the x86 64 bit architecture. I will look into building the corresponding libraries for the arm64 architecture when I get a chance. For the time being, you can install the MacOS (Intel 64-bit) version of Pr

[2022-10-31 16:22] pifragile commented on #44
@codeanticode i tried using Processing 4 intel 64-bit version with Syphon 4.0 from the library manager on Mac Studio (2022), Apple M1 Ultra, OSX 12.5.1 and [this example](https://github.com/Syphon/Processing/blob/master/examples/SendScreen/SendScreen.pde) fails with:

[code]

any advice?